<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XenToba</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <button id="menu-toggle"><i class="material-icons">menu</i></button>
    <div id="app">
        <div id="sidebar"></div>
        <div id="main-content"></div>
    </div>
    <script src="/static/js/router.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/ui.js"></script>
    <script src="/static/js/components.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>